body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u697 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u699 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u701 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
}
#u703 {
  position:absolute;
  left:0px;
  top:18px;
  width:375px;
  height:42px;
}
#u704 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u706 {
  position:absolute;
  left:33px;
  top:32px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u708 {
  position:absolute;
  left:13px;
  top:27px;
  width:15px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u710 {
  position:absolute;
  left:338px;
  top:27px;
  width:25px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u712 {
  position:absolute;
  left:34px;
  top:75px;
  width:57px;
  height:16px;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  position:absolute;
  left:119px;
  top:75px;
  width:57px;
  height:16px;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u716 {
  position:absolute;
  left:199px;
  top:75px;
  width:57px;
  height:16px;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  position:absolute;
  left:278px;
  top:75px;
  width:57px;
  height:16px;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:56px;
}
#u720 {
  position:absolute;
  left:480px;
  top:508px;
  width:215px;
  height:56px;
  text-align:center;
}
#u721 {
  position:absolute;
  left:0px;
  top:12px;
  width:215px;
  word-wrap:break-word;
}
#u722 {
  position:absolute;
  left:480px;
  top:537px;
  width:0px;
  height:0px;
}
#u722_seg0 {
  position:absolute;
  left:-151px;
  top:-4px;
  width:155px;
  height:8px;
}
#u722_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u723 {
  position:absolute;
  left:-126px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:35px;
}
#u724 {
  position:absolute;
  left:499px;
  top:66px;
  width:215px;
  height:35px;
  text-align:center;
}
#u725 {
  position:absolute;
  left:0px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u726 {
  position:absolute;
  left:499px;
  top:84px;
  width:0px;
  height:0px;
}
#u726_seg0 {
  position:absolute;
  left:-150px;
  top:-4px;
  width:154px;
  height:8px;
}
#u726_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u727 {
  position:absolute;
  left:-125px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:77px;
}
#u729 {
  position:absolute;
  left:8px;
  top:109px;
  width:131px;
  height:77px;
}
#u730 {
  position:absolute;
  left:2px;
  top:30px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u731 {
  position:absolute;
  left:149px;
  top:109px;
  width:218px;
  height:32px;
}
#u732 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u733 {
  position:absolute;
  left:149px;
  top:170px;
  width:58px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:77px;
}
#u736 {
  position:absolute;
  left:8px;
  top:205px;
  width:131px;
  height:77px;
}
#u737 {
  position:absolute;
  left:2px;
  top:30px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u738 {
  position:absolute;
  left:149px;
  top:205px;
  width:218px;
  height:32px;
}
#u739 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u740 {
  position:absolute;
  left:149px;
  top:266px;
  width:58px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:77px;
}
#u743 {
  position:absolute;
  left:8px;
  top:302px;
  width:131px;
  height:77px;
}
#u744 {
  position:absolute;
  left:2px;
  top:30px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u745 {
  position:absolute;
  left:149px;
  top:302px;
  width:218px;
  height:32px;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u747 {
  position:absolute;
  left:149px;
  top:363px;
  width:58px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:77px;
}
#u750 {
  position:absolute;
  left:8px;
  top:400px;
  width:131px;
  height:77px;
}
#u751 {
  position:absolute;
  left:2px;
  top:30px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u752 {
  position:absolute;
  left:149px;
  top:400px;
  width:218px;
  height:32px;
}
#u753 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u754 {
  position:absolute;
  left:149px;
  top:461px;
  width:58px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u755 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
