body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u645 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u647 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u649 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
}
#u651 {
  position:absolute;
  left:0px;
  top:18px;
  width:375px;
  height:42px;
}
#u652 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u654 {
  position:absolute;
  left:33px;
  top:32px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u656 {
  position:absolute;
  left:13px;
  top:27px;
  width:15px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u658 {
  position:absolute;
  left:338px;
  top:27px;
  width:25px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u659 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:117px;
}
#u661 {
  position:absolute;
  left:14px;
  top:105px;
  width:348px;
  height:117px;
}
#u662 {
  position:absolute;
  left:2px;
  top:50px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u663 {
  position:absolute;
  left:14px;
  top:232px;
  width:348px;
  height:32px;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:117px;
}
#u666 {
  position:absolute;
  left:14px;
  top:284px;
  width:348px;
  height:117px;
}
#u667 {
  position:absolute;
  left:2px;
  top:50px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u668 {
  position:absolute;
  left:14px;
  top:411px;
  width:348px;
  height:32px;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:117px;
}
#u671 {
  position:absolute;
  left:14px;
  top:463px;
  width:348px;
  height:117px;
}
#u672 {
  position:absolute;
  left:2px;
  top:50px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u673 {
  position:absolute;
  left:14px;
  top:590px;
  width:348px;
  height:32px;
}
#u674 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u675 {
  position:absolute;
  left:34px;
  top:75px;
  width:57px;
  height:16px;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u677 {
  position:absolute;
  left:119px;
  top:75px;
  width:57px;
  height:16px;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u679 {
  position:absolute;
  left:199px;
  top:75px;
  width:57px;
  height:16px;
}
#u680 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u681 {
  position:absolute;
  left:278px;
  top:75px;
  width:57px;
  height:16px;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:56px;
}
#u683 {
  position:absolute;
  left:480px;
  top:508px;
  width:215px;
  height:56px;
  text-align:center;
}
#u684 {
  position:absolute;
  left:0px;
  top:12px;
  width:215px;
  word-wrap:break-word;
}
#u685 {
  position:absolute;
  left:480px;
  top:537px;
  width:0px;
  height:0px;
}
#u685_seg0 {
  position:absolute;
  left:-151px;
  top:-4px;
  width:155px;
  height:8px;
}
#u685_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u686 {
  position:absolute;
  left:-126px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:35px;
}
#u687 {
  position:absolute;
  left:499px;
  top:66px;
  width:215px;
  height:35px;
  text-align:center;
}
#u688 {
  position:absolute;
  left:0px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u689 {
  position:absolute;
  left:499px;
  top:84px;
  width:0px;
  height:0px;
}
#u689_seg0 {
  position:absolute;
  left:-150px;
  top:-4px;
  width:154px;
  height:8px;
}
#u689_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u690 {
  position:absolute;
  left:-125px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
