body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:307px;
}
#u1662 {
  position:absolute;
  left:52px;
  top:46px;
  width:538px;
  height:307px;
}
#u1663 {
  position:absolute;
  left:2px;
  top:146px;
  width:534px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1664 {
  position:absolute;
  left:52px;
  top:11px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1665 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:874px;
}
#u1666 {
  position:absolute;
  left:52px;
  top:376px;
  width:685px;
  height:874px;
}
#u1667 {
  position:absolute;
  left:2px;
  top:429px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1668 {
  position:absolute;
  left:802px;
  top:11px;
  width:145px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1669 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:942px;
}
#u1670 {
  position:absolute;
  left:802px;
  top:46px;
  width:928px;
  height:942px;
}
#u1671 {
  position:absolute;
  left:2px;
  top:463px;
  width:924px;
  visibility:hidden;
  word-wrap:break-word;
}
