body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:307px;
}
#u1614 {
  position:absolute;
  left:52px;
  top:46px;
  width:538px;
  height:307px;
}
#u1615 {
  position:absolute;
  left:2px;
  top:146px;
  width:534px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1616 {
  position:absolute;
  left:52px;
  top:11px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1617 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:874px;
}
#u1618 {
  position:absolute;
  left:52px;
  top:376px;
  width:685px;
  height:874px;
}
#u1619 {
  position:absolute;
  left:2px;
  top:429px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1620 {
  position:absolute;
  left:802px;
  top:11px;
  width:145px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1621 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:942px;
}
#u1622 {
  position:absolute;
  left:802px;
  top:46px;
  width:928px;
  height:942px;
}
#u1623 {
  position:absolute;
  left:2px;
  top:463px;
  width:924px;
  visibility:hidden;
  word-wrap:break-word;
}
