body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u931 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u933 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u935 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
}
#u937 {
  position:absolute;
  left:0px;
  top:18px;
  width:375px;
  height:42px;
}
#u938 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u940 {
  position:absolute;
  left:33px;
  top:32px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u942 {
  position:absolute;
  left:13px;
  top:27px;
  width:15px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u944 {
  position:absolute;
  left:338px;
  top:27px;
  width:25px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:117px;
}
#u947 {
  position:absolute;
  left:14px;
  top:104px;
  width:348px;
  height:117px;
}
#u948 {
  position:absolute;
  left:2px;
  top:50px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u949 {
  position:absolute;
  left:14px;
  top:231px;
  width:348px;
  height:16px;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u951 {
  position:absolute;
  left:14px;
  top:257px;
  width:348px;
  height:15px;
  font-size:12px;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:117px;
}
#u954 {
  position:absolute;
  left:14px;
  top:292px;
  width:348px;
  height:117px;
}
#u955 {
  position:absolute;
  left:2px;
  top:50px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  position:absolute;
  left:14px;
  top:419px;
  width:348px;
  height:16px;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u958 {
  position:absolute;
  left:14px;
  top:445px;
  width:348px;
  height:15px;
  font-size:12px;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  position:absolute;
  left:75px;
  top:70px;
  width:43px;
  height:16px;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  position:absolute;
  left:258px;
  top:70px;
  width:43px;
  height:16px;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:27px;
}
#u964 {
  position:absolute;
  left:187px;
  top:65px;
  width:1px;
  height:26px;
}
#u965 {
  position:absolute;
  left:2px;
  top:5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
